.login_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-image: url("../assets/backgroundlogin.png");
  background-repeat: no-repeat;
  background-size: cover;
}

img {
  height: 45%;
}

.link {
  flex-basis: fit-content;
  align-items: flex-start;
  display: flex;
  height: fit-content;
  margin-left: 20px;
  position: absolute;
  width: 100%;

  /* 
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: flex-start;
  margin-left: 20px; */
}

.back {
  width: 61px;
  height: 79px;
}

.containerForm {
  width: 80%;
  height: 45%;
  background: rgba(127, 37, 157, 0.32);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  font-size: 14px;
  font-weight: 700;
  width: 100%;
  height: fit-content;
}

#label1 {
  color: #de1344;
  margin: 15px 0 10px;
  font-weight: 800;
}

.inputs {
  width: 216px;
  height: 38px;
  background: rgba(196, 196, 196, 0.37);
  border-radius: 10px;
  margin: 5px;
  color: #7f259dc5;
  font-weight: 600;
  padding-left: 10px;
  font-size: 20px;
}

.inputs::placeholder {
  font-weight: 600;
  font-size: 14px;
  color: #7f259dc5;
  padding-left: 10px;
}

.btns {
  width: 115px;
  height: 37px;
  color: #de1344;
  font-weight: 800;
  font-size: 14px;
  line-height: 16px;
  cursor: pointer;
  background: rgba(255, 176, 0, 0.7);
  border: 2px solid #de1344;
  border-radius: 8px;
  margin-top: 10px;
  filter: drop-shadow(4px 4px 5px #de1344);
}

.whiteText {
  color: #ffffff;
  margin-top: 10px;
  font-weight: 800;
}

.whiteText2 {
  color: #7f259d;
  font-size: 18px;
  width: fit-content;
  font-weight: 800;
  margin-right: 20px;
  margin-left: 10px;
}

.createAccContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 5%;
  margin-top: 15px;
  justify-content: center;
}

#btnCreateAcc {
  color: #7f259d;
  font-size: 18px;
  border: none;
  background: none;
  height: fit-content;
  width: fit-content;
  font-weight: 800;
  cursor: pointer;
}
/* 
#pError{
  width: fit-content;
  height: fit-content;
  color: #f2a928;
  font-size: 14px;
} */

/* ----------------Tabblet responsive--------------------- */
@media only screen and (max-width: 999px) and (min-width: 760px) {
  .login_container {
    background-image: url("../assets/backgroundtablet.png");
  }

  .containerForm {
    width: 70%;
  }

  label {
    font-size: 30px;
  }

  #label1 {
    margin: 30px 0 10px;
    font-weight: 800;
  }

  .inputs {
    width: 80%;
    height: 60px;
    margin: 15px;
  }

  .inputs::placeholder {
    font-size: 18px;
  }

  .btns {
    width: 150px;
    height: 50px;
    color: #de1344;
    font-size: 18px;
    margin-top: 15px;
  }

  .whiteText {
    color: #ffffff;
    margin-top: 10px;
    font-weight: 800;
  }

  .whiteText2 {
    font-size: 30px;
    width: fit-content;
    font-weight: 800;
    margin-right: 20px;
    margin-left: 10px;
  }

  .createAccContainer {
    margin-top: 25px;
  }

  #btnCreateAcc {
    color: #ffffff;
    font-size: 25px;
    border: #ffffff dashed 2px;
    padding: 2px;
    background: rgba(255, 176, 0, 0.5);
  }
}

/* -----------------Desktop responsive--------------------- */
@media screen and (min-width: 1000px) {
  .login_container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 90% 10%;
    background-image: url("../assets/backgrounddesktop.png");
  }

  img {
    grid-column: 1/2;
    grid-row: 1/2;
    position: absolute;
    width: auto;
    height: 95%;
  }

  .containerForm {
    grid-column: 2/3;
    grid-row: 1/2;
    position: absolute;
    width: 90%;
    height: 90%;
  }

  label {
    font-size: 38px;
  }

  #label1 {
    color: #de1344;
    margin: 50px 0 15px;
    font-weight: 800;
  }

  .inputs {
    width: 70%;
    height: 50px;
    margin: 15px;
  }

  .inputs::placeholder {
    font-size: 18px;
  }

  .btns {
    width: 150px;
    height: 50px;
    color: #de1344;
    font-size: 18px;
    margin-top: 15px;
  }

  .whiteText {
    color: #ffffff;
    font-weight: 600;
  }

  .whiteText2 {
    color: #7f259d;
    font-size: 30px;
    width: fit-content;
    font-weight: 800;
    margin-right: 20px;
    margin-left: 10px;
  }

  .createAccContainer {
    height: fit-content;
    grid-column: 1/3;
    grid-row: 2/3;
    margin-bottom: 50px;
  }

  #btnCreateAcc {
    font-size: 30px;
  }
}
